django
django-heroku
django-robots
django_compressor
django-allauth
gunicorn
pip>1.0
six
youtube-dl
pafy
setuptools
wheel
lxml
regex
requests
requests-cache
sentry_sdk
django-cors-headers
beautifulsoup4
whitenoise
python-dotenv
pydantic
cryptography
pymysql[rsa]
Pillow