django
django-heroku
django_compressor
django-ratelimit
gunicorn
pip
setuptools
wheel
lxml
regex
requests
requests-cache
sentry_sdk
django-cors-headers
pymysql[rsa]
beautifulsoup4
whitenoise
python-dotenv
cryptography
Pillow
