django
django-heroku
django_compressor
django-ratelimit
html5lib
django-htmlmin
gunicorn
pip
setuptools
wheel
requests
requests-cache
sentry_sdk
django-cors-headers
pymysql[rsa]
beautifulsoup4
whitenoise
python-dotenv
cryptography
