{% load static %}

{% spaceless %}
<html lang="en" style="scroll-behavior: smooth;">
    <head>
        {# Meta tags #}
        {% include 'awse/global/head_meta.html' %}

        {# JavaScripts load #}
        {% include 'awse/global/head_scripts.html' %}

        {# CSS files, search config, fonts #}
        {% include 'awse/global/head_links.html' %}

        <title>{% block title %}{% endblock %}</title>

        {# Other #}
        {% include 'awse/global/base_style.html' %}
    </head>

    <header class="site-header sticky-top py-1">
      <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#" aria-label="Product">
          <p style="color:#fff">AWSE</p>
        </a>
      </nav>
    </header>
    <body id="topSite" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" style="background:#0e0e10;transition: width 1s, height 1s">
        <div class="container">
            {# {% include 'awse/global/header.html' %} #}

            <div class="float_bg" style="display: none"></div>

            <br/><br/>

            <div class="row" id="row-box-1">
                    {% block content %}{% endblock %}
                    <br/>

                <div class="footer-awse" style="margin: auto;"></div>
            </div>

            <br/><br/><br/>
        </div>
    </body>
    {% include 'awse/global/js.html' %}
</html>
{% endspaceless %}
