{% extends 'awse/base.html' %}
{% spaceless %}

{% block title %}
AWSE - Search
{% endblock %}

{% block content %}
{% load static %}
    <div style="display:block;margin-left:auto;margin-right:auto;border-radius:20%">
        {% include 'awse/home/advertise/banner_head.html' %}

        {% include 'awse/home/search_container.html' %}

        {% include 'awse/home/advertise/bottom_ad_block.html' %}

        <div class="row-posts-end" style="visibility: hidden;transition: margin-top 1s;margin-top: 1em;">
            {% include 'awse/home/additional/base.html' %}
        </div>

        {% include 'awse/home/search_els.html' %}
    </div>
{% endblock %}
{% endspaceless %}

