{% load static %}

{# Template for generating a tape of records on the main page of the site. #}
{# Imagine that this code was not written by me. I don't really like him. #}

{% spaceless %}
    {% if vars.namaz %}
        {% for el in vars.namaz_data %}
            {% include "awse/load_blocks/namaz.html" %}
        {% endfor %}

    {% else %}
        {% if vars.typeload == 'newsession' and vars.covid_stat_append %}
            {% include "awse/load_blocks/covid.html" %}
        {% endif %}

        {% if vars.q_mode != 2 %}
            {% if vars.q_mode > 0 %}
                {% include "awse/load_blocks/quotes.html" %}
            {% else %}
                {% include "awse/load_blocks/wiki.html" %}
            {% endif %}
        {% endif %}

        {% if vars.typeload == "newsession" %}

            {% if vars.c_result %}
                {% include "awse/load_blocks/calculator.html" %}
            {% endif %}

            {% if vars.translate_result %}
                {% include "awse/load_blocks/translate.html" %}
            {% endif %}

            {% if vars.news_search_in_str %}
                {# News block place skip #}
            {% endif %}

            {% if vars.weather %}
                {% include "awse/load_blocks/weather.html" %}
            {% endif %}

        {% endif %}

        {% if vars.videos %}
            {# Videos block place skip #}

        {% else %}
            {% if not vars.search_index %}
                {% if vars.check_bot_request_search %}
                    {% include "awse/load_blocks/note.html" %}
                {% endif %}
            {% endif %}

            {% if vars.wiki_result %}
                {% include "awse/load_blocks/wiki_result.html" %}
            {% endif %}

            {% for el in data %}

                {% if forloop.counter == 1 and not vars.search_index and vars.images_search %}
                    {% include "awse/load_blocks/images.html" %}
                {% endif %}

                {% if not vars.search_api_full_dict.error %}
                    {% if el.0.title %}
                        {% include "awse/load_blocks/result.html" %}
                    {% endif %}

                {% elif vars.search_api_full_dict.error and forloop.counter == 1 and not vars.namaz_data %}
                    {% include "awse/load_blocks/black.html" %}
                {% endif %}

            {% endfor %}
        {% endif %}
    {% endif %}

{% endspaceless %}
