{% extends 'my_web/base.html' %}

{% block title %}
AWARE - AWARE Page
{% endblock %}

{% block title_header %}
AWARE
{% endblock %}

{% block url_path %}
{% url 'awareaddr' %}{{ aware.unique_id }}
{% endblock %}

{% block og_desc %}
{{ aware.title }}
{% endblock %}

{% block twitter_desc %}
{{ aware.title }}
{% endblock %}

{% block content %}
{% load static %}
    <div class="col-12 col-lg-12 padding-block-center-box">
        <div class="user box aos-init aos-animate" data-aos="fade-up">
            <div style="float:left;width: 100%;">
                <label class="username">{{ aware.title }}</label><br/><br/>
                <label class="city qwriter-content-block" style="width:100%;">
                    {{ aware.page_html_code|safe }}<br/>
                    <p>Эта страница сгенерирована специально для Telegram бота AWARE</p>
                    <br></label>
            </div>
        </div>
    </div>
    {% include 'my_web/page_notify.html' %}
{% endblock %}

{% block js_module %}
{% include 'my_web/standart_js.html' %}
{% endblock %}

