{% load static %}

<html lang="en" style="scroll-behavior: smooth;">
    <head>
        {# Meta tags #}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="og:description" content="{% block og_desc %}{% endblock %}">
        <meta name="og:url" content="https://awse.us{% block url_path %}{% endblock %}">
        <meta name="og:site_name" content="AWARE">
        <meta name="og:locale" content="ru_RU">
        <meta name="theme-color" content="#202124">
        <meta name="og:type" content="website">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:description" content="{% block twitter_desc %}{% endblock %}">
        <meta name="keywords" content="сайт, веб сайт, слово, истроия, текст, свобода, соц сеть, сеть, социальная, социалная сеть, пост, посты, рассказ, фантазия, публикации, поиск, новости, новое, образование, бесплатно, свободно, свободное">
        <meta name="author" content="Koval Yaroslav">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

        {# JavaScripts load #}
        <script src="{% static 'my_web/js/jquery.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'my_web/js/jquery.cookie.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'my_web/js/popper.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'my_web/bootstrap/js/bootstrap.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'my_web/js/notify.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'my_web/js/aos.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'my_web/js/lodash.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'my_web/fontawesome/js/all.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'my_web/js/lazysizes.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'my_web/js/bluebird.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# Google ReCaptcha Init #}
        <script src="https://www.google.com/recaptcha/api.js?render={% block public_re %}{% endblock %}"></script>

        <link rel="search" type="application/opensearchdescription+xml" title="AWARE" href="/opensearch.xml">

        <link rel="stylesheet" href="{% static 'my_web/bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'my_web/fontawesome/css/all.min.css' %}" crossorigin="anonymous" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'my_web/images/favicon.ico' %}" />
        <link rel="icon" type="image/x-icon" href="{% static 'my_web/images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'my_web/css/aos.css' %}" crossorigin="anonymous" />
        <link href="{% static 'my_web/css/main_page.css' %}" rel="stylesheet" crossorigin="anonymous" />

        {# Fonts #}
        <link href="{% static 'my_web/css/fonts_settings.css' %}" rel="stylesheet" crossorigin="anonymous" />

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body id="topSite" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" style="background: #191919;transition: width 1s, height 1s;">
    <div class="container">
    <div class="map_search_box">
        <a href="#topSite" class="scroll-to menu_home" id="h_butt">
            <i class="fas fa-home"></i>
        </a>
        <div class="header_content">
            <a href="{% url 'index_page' %}">
                <label class="header_title" style="font-family: 'Pacifico', cursive;user-select: none;">{% block title_header %}{% endblock %}</label>
            </a>
        </div>
        <div class="dropdowncustom1">
            <i class="fas fa-compass" onclick="onMenuClicked()"></i>
        </div>
    </div>
    <div class="menu_box disable-track-aware" style="display: none;">
        <a href="{% url 'index_page' %}">
            <div class="menu_item menu_item_first">
                <label>Главная</label>
                <div class="icon_container">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </a>
        <a href="{% url 'news_page' %}">
            <div class="menu_item">
                <label>Новости</label>
                <div class="icon_container">
                    <i class="far fa-newspaper"></i>
                </div>
            </div>
        </a>
        <a href="{% url 'namaz_page' %}">
            <div class="menu_item">
                <label>Намаз</label>
                <div class="icon_container">
                    <i class="fas fa-quran"></i>
                </div>
            </div>
        </a>
        <a href="{% url 'status_page' %}">
            <div class="menu_item">
                <label>Статус</label>
                <div class="icon_container">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="float_bg" style="display: none"></div>
    <br><br>
    <div class="row" id="row-box-1">
            {% block content %}
            {% endblock %}
            <br>
        <div class="footer-aware" style="margin: auto;"></div>
    </div>
    <br><br><br>
</div>
</body>
    {% block js_module %}
    {% endblock %}
</html>
