{% load static %}

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="og:description" content="{% block og_desc %}{% endblock %}">
        <meta name="og:url" content="https://awse.us{% block url_path %}{% endblock %}">
        <meta name="og:site_name" content="Q-Writer">
        <meta name="og:locale" content="ru_RU">
        <meta name="theme-color" content="#202124">
        <meta name="og:type" content="website">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:description" content="{% block twitter_desc %}{% endblock %}">
        <meta name="keywords" content="сайт, веб сайт, слово, истроия, текст, свобода, соц сеть, сеть, социальная, социалная сеть, пост, посты, рассказ, фантазия, публикации, поиск, новости, новое, образование, бесплатно, свободно, свободное">
        <meta name="author" content="Koval Yaroslav">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.7.2/bluebird.min.js" integrity="sha512-TFp7JOp8so/oHJrngLI0kn9diZrc0YDr1NrGj1YbzbvSBdGfligjYVRp1xtqlmNCPWpx4xJDhiWSGgUYvqCbBg==" crossorigin="anonymous"></script>
        <script src="https://www.google.com/recaptcha/api.js?render={% block public_re %}{% endblock %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'my_web/images/favicon.ico' %}"/>
        <link rel="icon" type="image/x-icon" href="{% static 'my_web/images/favicon.ico' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" />
        <link href="{% static 'my_web/css/main_page.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <style>
            #h_butt {
                visibility: hidden;
            }
            .center-block {
                display: table;
                margin: 0 auto;
            }
            .padding-block-center-box {
                padding-left: 5%;
                padding-right: 5%;
            }
            .grecaptcha-badge {
                visibility: hidden;
            }
        </style>
    </head>
    <body id="topSite" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
    <div class="container">
    <div class="map_search_box">
        <a href="#topSite" class="scroll-to menu_home" id="h_butt">
            <i class="fas fa-home"></i>
        </a>
        <div class="header_content">
            <label class="header_title">{% block title_header %}{% endblock %}</label>
        </div>
        <div class="dropdowncustom1">
            <i class="fas fa-compass" onclick="onMenuClicked()"></i>
        </div>
    </div>
    <div class="menu_box" style="display: none;">
        <a href="{% url 'index_page' %}">
            <div class="menu_item menu_item_first">
                <label>Главная</label>
                <div class="icon_container">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </a>
        <a href="{% url 'news_page' %}">
            <div class="menu_item">
                <label>Новости</label>
                <div class="icon_container">
                    <i class="far fa-newspaper"></i>
                </div>
            </div>
        </a>
        <a href="{% url 'namaz_page' %}">
            <div class="menu_item">
                <label>Намаз</label>
                <div class="icon_container">
                    <i class="fas fa-quran"></i>
                </div>
            </div>
        </a>
        <a href="{% url 'status_page' %}">
            <div class="menu_item">
                <label>Статус</label>
                <div class="icon_container">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </a>
        <a href="{% url 'bot_page' %}">
            <div class="menu_item">
                <label>Бот</label>
                <div class="icon_container">
                    <i class="fab fa-telegram-plane"></i>
                </div>
            </div>
        </a>
        <a href="{% url 'info_page' %}">
            <div class="menu_item">
                <label>Информация</label>
                <div class="icon_container">
                    <i class="fas fa-info"></i>
                </div>
            </div>
        </a>
        <a href="admin">
            <div class="menu_item menu_item_last">
                <label>Admin</label>
                <div class="icon_container">
                    <i class="fas fa-user-shield"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="float_bg" style="display: none"></div>
    <br><br>
    <div class="row" id="row-box-1">
            {% block content %}
            {% endblock %}
            <br>
        <div class="footer-aware" style="margin: auto;">
            <p style="color: #a5a5a5;font-size:13px;margin-bottom:-5%;">
                Contact <a href="https://t.me/Jomahmadov2002">NajB</a>
            </p>
            <br/>
            <p style="color: #a5a5a5;font-size:13px;margin-bottom:-5%;">
                Developed by <a href="https://t.me/koval_yaroslav">Koval Yaroslav</a>
            </p>
            <br/>
            <p style="color: #a5a5a5;font-size:10px;margin-bottom:-5%;">
                Этот сайт защищен с помощью <a href="https://www.google.com/recaptcha/about/">Google ReCaptcha</a>.
            </p>
        </div>
    </div>
    <br><br><br>
</div>
</body>
{% block js_module %}
{% endblock %}
</html>
