{% extends 'my_web/base.html' %}

{% block title %}
Aware - Немного о боте
{% endblock %}

{% block og_desc %}
Удобная и красивая поисковая система
{% endblock %}

{% block twitter_desc %}
Удобная и красивая поисковая система
{% endblock %}

{% block title_header %}
AWARE
{% endblock %}

{% block url_path %}
{% url 'bot_page' %}
{% endblock %}

{% block content %}
{% load static %}
        <div class="col-12 col-lg-12 padding-block-center-box">
            <div class="user box aos-init aos-animate" data-aos="fade-up">
                <div style="float: left; ">

                    <label class="username">Бот Aware в Telegram</label><br>
                    <label class="city">
                        Удобная поисковая система прямо в Telegram. Чтобы перейти к боту - нажмите на его псевдоним <a href="https://t.me/AwareSearchBot">@AwareSearchBot</a>.
                    </label><br>
                    <a style="font-size: 12px;" href="{% url 'index_page' %}"><b>awse.us</b></a><br>
                </div>
            </div>
        </div>
        {% include 'my_web/page_notify.html' %}
{% endblock %}

{% block js_module %}
{% include 'my_web/standart_js.html' %}
{% endblock %}

