{% extends 'my_web/base.html' %}

{% block title %}
AWARE Search - Случайный факт
{% endblock %}

{% block title_header %}
AWARE Search
{% endblock %}

{% block url_path %}
{% url 'factaddr' %}{{ factget.unique_id }}
{% endblock %}

{% block og_desc %}
{{ factget.f_text }}
{% endblock %}

{% block twitter_desc %}
{{ factget.f_text }}
{% endblock %}

{% block content %}
{% load static %}
    <div class="col-12 col-lg-12 padding-block-center-box">
        <div class="user box aos-init aos-animate" data-aos="fade-up">
            <div style="float: left; ">
                <label class="username">Случайный факт</label><br>
                <label class="city qwriter-content-block"><i>{{ factget.f_text }}</i><br></label><br><br>
                <a style="font-size: 12px;" href="{% url 'index_page' %}"><b>awse.us</b></a><br>
            </div>
        </div>
    </div>
    {% include 'my_web/page_notify.html' %}
{% endblock %}

{% block js_module %}
{% include 'my_web/standart_js.html' %}
{% endblock %}

