{% extends 'my_web/base.html' %}

{% block title %}
AWARE Search - Информация
{% endblock %}

{% block title_header %}
AWARE
{% endblock %}

{% block og_desc %}
Здесь должна быть очень важная информация о том, в каком виде способны быть разрушены наши поля, в том виде, в каком они есть сейчас, или в таком, который мы хотим.
{% endblock %}

{% block twitter_desc %}
Здесь должна быть очень важная информация о том, в каком виде способны быть разрушены наши поля, в том виде, в каком они есть сейчас, или в таком, который мы хотим.
{% endblock %}

{% block url_path %}
{% url 'info_page' %}
{% endblock %}

{% block content %}
{% load static %}
    <div class="col-12 col-lg-12 padding-block-center-box">
        <div class="user box aos-init aos-animate" data-aos="fade-up">
            <div style="float: left; ">

                <label class="username">Информация</label><br>
                <label class="city">
                    <i>Ресурс для просмотра историй, различных цитат и фактов, есть даже новости. </i>
                    <b>Их можно смотреть одним нажатием кнопки. Но обо всем по порядку. Понятно, что для хорошего рассказа этого недостаточно.</b>
                    <i> Но не смотря на столь скромный размер</i>
                    <b> я, как ты уже заметила, занимаюсь довольно серьезной темой. У меня совершенно новая концепция рождения жанра.</b>
                    <br/><br/>
                    <b>Спасибо <a href="https://porfirevich.ru/">Порфировичу</a> за помощь с этим текстом. (Текст <a href="https://porfirevich.ru/">Порфировича</a> выделен жирным шрифтом)</b>
                </label><br/>
                    <a style="font-size: 12px;" href="{% url 'index_page' %}"><b>awse.us</b></a><br>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_module %}
{% include 'my_web/standart_js.html' %}
{% endblock %}

