{% extends 'my_web/base.html' %}

{% block title %}
QWriter - Блог
{% endblock %}

{% block title_header %}
QWriter
{% endblock %}

{% block og_desc %}
Блог, просто блог QWriter.
{% endblock %}

{% block twitter_desc %}
Блог, просто блог QWriter.
{% endblock %}

{% block url_path %}
{% url 'info_page' %}
{% endblock %}

{% block content %}
{% load static %}
    <div class="col-12 col-lg-12 padding-block-center-box">
        <div class="user box aos-init aos-animate" data-aos="fade-up">
            <div style="float: left; ">
                <label class="status" data-toggle="tooltip" data-placement="top" data-original-title="1" style="color: 2"><i style="filter: invert(80%);" class="fas fa-circle"></i></label>
                <label class="username">Информация</label><br>
                <label class="city"><b>На данной странице отображаются только те записи, которые ещё актуальны. Перейти к старым записям можно по ссылке или найдя её через поисковую систему Google.</b></label><br>
                    <a style="font-size: 12px;" href="{% url 'index_page' %}"><b>q-writer.com</b></a><br>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_module %}
{% include 'my_web/standart_js.html' %}
{% endblock %}

