{% load static %}

{# Template for generating a tape of records on the main page of the site. #}
{# Imagine that this code was not written by me. I don't really like him. #}

{% if typeload == 'newsession' and covid_stat_append %}
    {% if covid_ua.0 %}
        <div class="col-12 col-lg-12 padding-block-center-box">
            <div class="user box aos-init aos-animate" data-aos="fade-up">
                <div style="float: left; ">
                    <label class="status" data-toggle="tooltip" data-placement="top" data-original-title="1" style="color: 2"><i style="filter: invert(80%);" class="fas fa-circle"></i></label>
                    <label class="username">Статистика COVID-19 в Украине</label><br>
                    <label class="city"><br/>
                        <!-- Body start -->
                        <h6>😷Больных Covid-19: <b>{{ covid_ua.0 }} (+{{ covid_ua.1 }})</b></h6>
                        <h6>❤️Выздоровели: <b>{{ covid_ua.2 }}</b></h6>
                        <h6>💔Летальных исходов: <b>{{ covid_ua.3 }}</b></h6>
                        <h6>📝Протестировано: <b>{{ covid_ua.4 }}</b></h6>
                        <br/>
                        <h6>📅<b>{{ covid_ua.5 }}</b></h6>
                        <!-- Body finish -->
                        <br/></label><br/>
                        <a style="font-size: 12px;" href="{% url 'index_page' %}"><b>q-writer.com</b></a><br>
                </div>
            </div>
        </div>
    {% endif %}
    {% if covid_ru.0 %}
        <div class="col-12 col-lg-12 padding-block-center-box">
            <div class="user box aos-init aos-animate" data-aos="fade-up">
                <div style="float: left; ">
                    <label class="status" data-toggle="tooltip" data-placement="top" data-original-title="1" style="color: 2"><i style="filter: invert(80%);" class="fas fa-circle"></i></label>
                    <label class="username">Статистика COVID-19 в России</label><br>
                    <label class="city"><br/>
                        <!-- Body start -->
                        <h6>😷Больных Covid-19: <b>{{ covid_ru.1 }} (+{{ covid_ru.2 }})</b></h6>
                        <h6>❤️Выздоровели: <b>{{ covid_ru.3 }}</b></h6>
                        <h6>💔Летальных исходов: <b>{{ covid_ru.4 }}</b></h6>
                        <h6>📝Протестировано: <b>{{ covid_ru.0 }}</b></h6>
                        <br/>
                        <h6>📅<b>{{ covid_ru.5 }}</b></h6>
                        <!-- Body finish -->
                        <br/></label><br/>
                        <a style="font-size: 12px;" href="{% url 'index_page' %}"><b>q-writer.com</b></a><br>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}

{% for el in data %}
    {% if additions %}
        {% if 100|get_randint > 30 %}
            <div class="col-12 col-lg-12 padding-block-center-box">
                <div class="user box aos-init aos-animate" data-aos="fade-up">
                    <div style="float: left;">
                        <label class="status" data-toggle="tooltip" data-placement="top" data-original-title="1" style="color: 2"><i style="filter: invert(80%);" class="fas fa-circle"></i></label>
                        <label class="username">Пользовательская запись</label><br>
                        <label class="city">{{ el.0.0|safe }}<br/></b><i><u>Опубликовано {{ el.0.1 }} (UTC)</u></i></label><br>
                        <a style="font-size: 12px;" href="{% url 'storyaddr' %}{{ el.0.3 }}"><b>q-writer.com</b></a><br>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if 100|get_randint > 90 %}
            <div class="col-12 col-lg-12 padding-block-center-box">
                <div class="user box aos-init aos-animate" data-aos="fade-up">
                    <div style="float: left;">
                        <label class="status" data-toggle="tooltip" data-placement="top" data-original-title="1" style="color: 2"><i style="filter: invert(80%);" class="fas fa-circle"></i></label>
                        <label class="username">Пользовательская запись</label><br>
                        <label class="city"><i title="Текст который написал пользователь">{{ el.1.user_text }}</i><b title="Текст который написал бот">{{ el.1.bot_text }}</b><br/><br/><i><u>Опубликовано {{ el.1.time_field }} (UTC)</u></i></label><br>
                        <a style="font-size: 12px;" href="{% url 'postaddr' %}{{ el.1.unique_id }}"><b>q-writer.com</b></a><br>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if 100|get_randint > 70 %}
            <div class="col-12 col-lg-12 padding-block-center-box">
                <div class="user box aos-init aos-animate" data-aos="fade-up">
                    <div style="float: left;">
                        <label class="status" data-toggle="tooltip" data-placement="top" data-original-title="1" style="color: 2"><i style="filter: invert(80%);" class="fas fa-circle"></i></label>
                        <label class="username">Случайная цитата</label><br>
                        <label class="city"><i>„{{ el.2.q_text }}“</i><br><br><b>{{ el.2.q_author }}</b></label><br>
                        <a style="font-size: 12px;" href="{% url 'quoteaddr' %}{{ el.2.unique_id }}"><b>q-writer.com</b></a><br>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if 100|get_randint > 70 %}
            <div class="col-12 col-lg-12 padding-block-center-box">
                <div class="user box aos-init aos-animate" data-aos="fade-up">
                    <div style="float: left;">
                        <label class="status" data-toggle="tooltip" data-placement="top" data-original-title="1" style="color: 2"><i style="filter: invert(80%);" class="fas fa-circle"></i></label>
                        <label class="username">Случайный факт</label><br>
                        <label class="city"><i>{{ el.3.f_text }}</i><br></label><br><br>
                        <a style="font-size: 12px;" href="{% url 'factaddr' %}{{ el.3.unique_id }}"><b>q-writer.com</b></a><br>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% if 100|get_randint > 80 or not additions and news_append %}
        {% if el.4.0 %}
            <div class="col-12 col-lg-12 padding-block-center-box">
                <div class="user box aos-init aos-animate" data-aos="fade-up">
                    <div style="float: left;">
                        <label class="status" data-toggle="tooltip" data-placement="top" data-original-title="1" style="color: 2"><i style="filter: invert(80%);" class="fas fa-circle"></i></label>
                        <label class="username">Случайная новость</label><br>
                        <label class="city">
                            {# paste news image #}
                            {% if el.4.5 %}
                                <img src="{% url 'imageproxy' %}?data={{ el.4.5|link_encrypt_img }}&token={{ token_image_proxy }}" class="photohub_item" onerror="imgError(this);" style="width:100%;margin-top: 3%;" alt="Обложка новостного блока">
                            {% endif %}
                            <b style="font-size: 14px">{{ el.4.0 }}</b><br/><i>{{ el.4.1 }}</i><br><br><b>Источник - <a href="{{ el.4.4 }}">{{ el.4.2 }}</a></b><br><i><u>Опубликовано {{ el.4.3 }} (UTC)</u></i>
                        </label><br><br>
                        <a style="font-size: 12px;" href="{% url 'index_page' %}"><b>q-writer.com</b></a><br>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

