{% extends 'my_web/base.html' %}

{% block title %}
QWriter - Пользовательская запись
{% endblock %}

{% block title_header %}
QWriter
{% endblock %}

{% block og_desc %}
{{ postget.user_text }}{{ postget.bot_text }}
{% endblock %}

{% block url_path %}
{% url 'postaddr' %}{{ postget.unique_id }}
{% endblock %}

{% block twitter_desc %}
{{ postget.user_text }}{{ postget.bot_text }}
{% endblock %}

{% block content %}
{% load static %}
    <div class="col-12 col-lg-12 padding-block-center-box">
        <div class="user box aos-init aos-animate" data-aos="fade-up">
            <div style="float: left; ">
                <label class="status" data-toggle="tooltip" data-placement="top" data-original-title="1" style="color: 2"><i style="filter: invert(80%);" class="fas fa-circle"></i></label>
                <label class="username">Пользовательская запись</label><br>
                <label class="city qwriter-content-block"><i title="Текст который написал пользователь">{{ postget.user_text }}</i><b title="Текст который написал бот">{{ postget.bot_text }}</b></label><br>
                <label class="timepub"><i style="font-size: 12px;"><u>Опубликовано {{ postget.time_field }} (UTC)</u></i><br></label><br/>
                <label class="linksite"><a style="font-size: 12px;" href="{% url 'index_page' %}"><b>q-writer.com</b></a><br></label>
            </div>
        </div>
    </div>
    {% include 'my_web/page_notify.html' %}
{% endblock %}

{% block js_module %}
{% include 'my_web/standart_js.html' %}
{% endblock %}

