{% extends 'my_web/base.html' %}

{% block title %}
QWriter - {{ quotetitle }}
{% endblock %}

{% block title_header %}
QWriter
{% endblock %}

{% block og_desc %}
{{ quoteget.q_text }}
{% endblock %}

{% block url_path %}
{% url 'quoteaddr' %}{{ quoteget.id }}
{% endblock %}

{% block twitter_desc %}
{{ quoteget.q_text }}
{% endblock %}

{% block content %}
{% load static %}
    <div class="col-12 col-lg-12 padding-block-center-box">
        <div class="user box aos-init aos-animate" data-aos="fade-up">
            <div style="float: left; ">
                <label class="status" data-toggle="tooltip" data-placement="top" data-original-title="1" style="color: 2"><i style="filter: invert(80%);" class="fas fa-circle"></i></label>
                <label class="username">Случайная цитата</label><br>
                <label class="city"><i>„{{ quoteget.q_text }}“</i><br><br><b>{{ quoteget.q_author }}</b></label><br>
                <a style="font-size: 12px;" href="{% url 'index_page' %}"><b>q-writer.com</b></a><br>
            </div>
        </div>
    </div>
    {% include 'my_web/page_notify.html' %}
{% endblock %}

{% block js_module %}
{% include 'my_web/standart_js.html' %}
{% endblock %}

