{% extends 'my_web/base.html' %}

{% block title %}
Aware Search - Статус и история доступности AWARE
{% endblock %}

{% block title_header %}
AWARE
{% endblock %}

{% block og_desc %}
Небольшая история из жизни проекта AWARE
{% endblock %}

{% block twitter_desc %}
Небольшая история из жизни проекта AWARE
{% endblock %}

{% block url_path %}
{% url 'status_page' %}
{% endblock %}

{% block content %}
{% load static %}
        <div class="col-12 col-lg-12 padding-block-center-box">
            <div class="user box aos-init aos-animate" data-aos="fade-up">
                <div style="float: left; ">

                    <label class="username">Доступность AWARE</label><br>
                    <label class="city">
                        <i>За последние сутки: <b>{{ status.days1 }}%</b></i><br/>
                        <i>За последние 7 дней: <b>{{ status.days7 }}%</b></i><br/>
                        <i>За последние 30 дней: <b>{{ status.days30 }}%</b></i><br/>
                        <i>За последние 90 дней: <b>{{ status.days90 }}%</b></i><br/><br/>
                        {# Index 1, because when the site is available, the last event will be successful #}
                        <i>Последнее событие: <b>{{ status.logs.1.dateGMT }}</b></i><br/>
                        <i>Продолжительность события: <b>{{ status.logs.1.duration }}</b></i><br/>
                        <i>Ответ сервера: <b>
                            {{ status.logs.1.reason.code }}&nbsp;
                            {{ status.logs.1.reason.detail.short }}
                        </b></i><br/>
                    </label><br/>
                    <a style="font-size: 12px;" href="{% url 'index_page' %}"><b>awse.us</b></a><br>
                </div>
            </div>
        </div>
        {% include 'my_web/page_notify.html' %}
{% endblock %}

{% block js_module %}
{% include 'my_web/standart_js.html' %}
{% endblock %}
