{% extends 'my_web/base.html' %}

{% block title %}
AWARE - AWARE status and availability history
{% endblock %}

{% block title_header %}
AWARE
{% endblock %}

{% block og_desc %}
A short story from the life of the AWARE project
{% endblock %}

{% block twitter_desc %}
A short story from the life of the AWARE project
{% endblock %}

{% block url_path %}
{% url 'status_page' %}
{% endblock %}

{% block content %}
{% load static %}
        <div class="col-12 col-lg-12 padding-block-center-box">
            <div class="user box aos-init aos-animate" data-aos="fade-up">
                <div style="float: left; ">

                    <label class="username">AWARE availability</label><br>
                    <label class="city">
                        <i>For the last 24 hours: <b>{{ status.days1 }}%</b></i><br/>
                        <i>Last 7 days: <b>{{ status.days7 }}%</b></i><br/>
                        <i>Last 30 days: <b>{{ status.days30 }}%</b></i><br/>
                        <i>For the last 90 days: <b>{{ status.days90 }}%</b></i><br/><br/>
                        {# Index 1, because when the site is available, the last event will be successful #}
                        <i>Last event: <b>{{ status.logs.1.dateGMT }}</b></i><br/>
                        <i>Duration of the event: <b>{{ status.logs.1.duration }}</b></i><br/>
                        <i>Server response: <b>
                            {{ status.logs.1.reason.code }}&nbsp;
                            {{ status.logs.1.reason.detail.short }}
                        </b></i><br/>
                    </label>
                </div>
            </div>
        </div>
        {% include 'my_web/page_notify.html' %}
{% endblock %}

{% block js_module %}
{% include 'my_web/standart_js.html' %}
{% endblock %}
