{% spaceless %}
<div class="template_container_tabs" id="blog_container">
    <div class="col-12 col-lg-12 padding-block-center-box">
        <div class="user box aos-init aos-animate" data-aos="fade-up">
            <div style="float: left;">
                <label class="username">Blog...</label><br>
                <label class="city">
                    This tab is currently under development. Please come here later. Sincerely, AWSE.US.
                </label>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}