{% spaceless %}
<div class="search-awse-block-global" style="margin-bottom: -8em;transition: margin-bottom 0.8s;">
    <div class="wrapper">
        <div class="search-input" style="z-index: 106;">
            <a href="" target="_blank" hidden></a>
            <input type="text" maxlength="{{ max_search_len }}" class="search-input-awse" size="100"
                   style="transition: padding 0.5s;" placeholder="{{ search_template }}">
            <div class="autocom-box disable-track-awse"></div>
            <div class="load-more-end-butt icon">
                <i class="spinner-border spinner_search_load_awse" style="visibility: hidden;"></i>
                <i class="fas fa-search icon_search_load_awse_one" style="visibility: hidden;" title="Search"></i>
            </div>
            <div class="clear_awse_search_string"
                 style="visibility:hidden;transition: margin-right 0.6s;margin-right:2.3em;top:0.8em;position:absolute;right:0px;text-align:center;line-height:55px;font-size:20px;cursor:pointer">
                <i class="fas fa-times search-input-clear-button_" title="Clear string"></i>
            </div>
        </div>
    </div>
</div>
<div class="awse_hide_blocks_on_index_page hide_button_awse">
    <p class="awse_hide_blocks_on_index_page_text hide_button_in_">Hide</p>
</div>
{% endspaceless %}