{% spaceless %}
{# Style scrollbar #}
<style>
    ::-webkit-scrollbar {
        width: 15px;
    }

    .disable-track-awse::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #939393;
        border-radius: 8px;
        border: 4px solid #0e0e10;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #7c7c7c;
    }
</style>
{% endspaceless %}