{% load static %}

{% spaceless %}
<link rel="search" type="application/opensearchdescription+xml" title="AWSE" href="/opensearch.xml">

<link rel="stylesheet" href="{% static 'awse/bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous"/>
<link rel="stylesheet" href="{% static 'awse/fontawesome/css/all.min.css' %}" crossorigin="anonymous"/>
<link rel="apple-touch-icon" href="{% static 'awse/images/favicon.png' %}"/>
<link rel="icon" type="image/png" href="{% static 'awse/images/favicon.png' %}" />
<link rel="stylesheet" href="{% static 'awse/css/aos.min.css' %}" crossorigin="anonymous"/>
<link rel="stylesheet" href="{% static 'awse/css/tiny-slider.min.css' %}" crossorigin="anonymous"/>
<link href="{% static 'awse/css/main_page.min.css' %}" rel="stylesheet" crossorigin="anonymous"/>

{# Fonts #}
<link href="{% static 'awse/css/fonts_settings.min.css' %}" rel="stylesheet" crossorigin="anonymous"/>
{% endspaceless %}
