{% load static %}

{% spaceless %}
<script src="{% static 'awse/js/jquery.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'awse/bootstrap/js/bootstrap.min.js' %}" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="{% static 'awse/js/notify.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'awse/js/aos.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'awse/fontawesome/js/all.min.js' %}" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="{% static 'awse/js/bluebird.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'awse/js/tiny-slider.min.js' %}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endspaceless %}