{% spaceless %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="og:description"
      content="{% if search_q %}{{ search_q }}{% else %}Convenient and beautiful search engine{% endif %}">
<meta name="og:url" content="https://www.awse.us{% block url_path %}{% endblock %}">
<meta name="og:site_name" content="AWSE">
<meta name="og:locale" content="en_US">
<meta name="theme-color" content="#0e0e10">
<meta name="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description"
      content="{% if search_q %}{{ search_q }}{% else %}Convenient and beautiful search engine{% endif %}">
<meta name="keywords"
      content="website, website, word, history, text, freedom, social network, network, social, social network, post, posts, story, fantasy, publications, search, news, new, education, free, free, free">
<meta name="author" content="Koval Yaroslav">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
{% endspaceless %}