{% spaceless %}
    <div class="header-second noselect">
        <div class="inside_header_container">
            <ul class="header-menu">
                {% with search_container=24|get_random_string blog_container=24|get_random_string news_container=24|get_random_string %}
                <li id="{{ search_container }}" class="header-menu-item"><a class="link_header_ search_page_" id="page_0_button">
                    Search</a>
                </li>

                <li id="{{ blog_container }}" class="header-menu-item"><a class="link_header_ blog_page_" id="page_1_button">
                    Blog</a>
                </li>

                <li id="{{ news_container }}" class="header-menu-item"><a class="link_header_ news_page_" id="page_2_button">
                    News</a>
                </li>
                {% endwith %}
            </ul>
        </div>
    </div>
{% endspaceless %}