{% spaceless %}
<div class="col-12 col-lg-12 padding-block-center-box">
    <div class="user box aos-init aos-animate" data-aos="fade-up">
        <div style="float: left;">
            {% with script_id=64|get_random_string title_el=64|get_random_string title_text=24|get_random_string entity_text=24|get_random_string %}
            <label id="{{ title_el }}" class="username" style="margin-top: -0.5em;"></label><br/>
            <script id="{{ script_id }}">
                let x{{ title_text }}="{{ vars.additional_block.Heading|encode_eng }}";
                let x{{ entity_text }}="{{ vars.additional_block.Entity|encode_eng }}";
                $("#{{ title_el }}").text(`${UpBDecode(x{{ title_text }})} (${UpBDecode(x{{ entity_text }})})`);
                $("#{{ script_id }}").remove()
            </script>
            {% endwith %}
            <label class="city">
                {% if vars.additional_block.Image %}
                    {% with script_id=64|get_random_string block_=64|get_random_string name_image=16|get_random_string el_4=24|get_random_string el_5=24|get_random_string el_6=24|get_random_string el_7=24|get_random_string %}
                    <div id="{{ block_ }}"></div>
                    <script id="{{ script_id }}">
                        let x{{ name_image }}='{{ vars.additional_block.Heading|encode_eng }}';
                        let x{{ el_4 }}='{{ vars.additional_block.Image|link_encrypt_img|encode_eng }}';
                        let x{{ el_5 }}='{{ vars.token_image_proxy|encode_eng }}';
                        let x{{ el_6 }}='{{ vars.user_address_original|sign_address_encrypt|encode_eng }}';
                        let x{{ el_7 }}=$("#{{ block_ }}");
                        x{{ el_7 }}.html(`
                            <img
                            src="{% url 'imageproxy' %}?data=${UpBDecode(x{{ el_4 }})}&v=1&token=${UpBDecode(x{{ el_5 }})}&sign=${UpBDecode(x{{ el_6 }})}"
                            onerror="imgError(this);"
                            style="margin-top:1%;max-width:32%;min-width:25%;margin-right:0.9em;height:auto;-webkit-appearance:none;border-radius:0.5em;padding:0;text-align:left;padding-bottom:1px;box-shadow: 0 4px 15px 0 rgb(0 0 0 / 40%)"
                            alt="${UpBDecode(x{{ name_image }})}">
                        `);
                        $("#{{ script_id }}").remove()
                    </script>
                    {% endwith %}
                {% endif %}
                {% with script_id=64|get_random_string block_=64|get_random_string el_=24|get_random_string %}
                <aware-fast-answer id="{{ block_ }}"></aware-fast-answer>
                <script id="{{ script_id }}">
                    let x{{ el_ }}='{{ vars.additional_block.AbstractText|encode_eng }}';
                    $("#{{ block_ }}").html(`<i>${UpBDecode(x{{ el_ }})}...</i>`);
                    $("#{{ script_id }}").remove()
                </script>
                {% endwith %}
            </label>
            <br/>
            {% with script_id=64|get_random_string badge_block=64|get_random_string badge_block_2=64|get_random_string title_badge=12|get_random_string icon_badge=12|get_random_string %}
            <div id="{{ badge_block }}" class="badge_block_info select_disable_text"></div>
            <div id="{{ badge_block_2 }}" class="badge_block_info select_disable_text" style="margin-left:5px"></div>
            <script id="{{ script_id }}">
                let x{{ title_badge }}="Fast answer&nbsp;";
                let x{{ icon_badge }}="fas fa-fast-forward";
                $("#{{ badge_block }}").html(`
                    <span style="margin:0.5em">${x{{ title_badge }}}<i class="${x{{ icon_badge }}}"></i></span>
                `);
                $("#{{ script_id }}").remove()
            </script>
            {% endwith %}
        </div>
    </div>
</div>
{% endspaceless %}
