{% spaceless %}
<div class="col-12 col-lg-12 padding-block-center-box">
    <div class="user box aos-init aos-animate" data-aos="fade-up">
        <div class="box_aware_error">
            <div class="box_aware_error__ghost">
                <div class="symbol"></div>
                <div class="symbol"></div>
                <div class="symbol"></div>
                <div class="symbol"></div>
                <div class="symbol"></div>
                <div class="symbol"></div>
                <div class="box_aware_error__ghost-container">
                    <div class="box_aware_error__ghost-eyes">
                        <div class="box_aware_error__eye-left"></div>
                        <div class="box_aware_error__eye-right"></div>
                    </div>
                    <div class="box_aware_error__ghost-bottom">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="box_aware_error__ghost-shadow"></div>
            </div>
            <div class="box_aware_error__description">
                <div class="box_aware_error__description-container">
                    <div class="box_aware_error__description-title">
                        Oh!
                    </div>
                    <div class="box_aware_error__description-text">
                        It looks like your search query contains a word that the administrator has banned. Talk to
                        <a href="https://t.me/Jomahmadov2002">Administrator</a> if you think this is a mistake.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}