{% spaceless %}
<div class="col-12 col-lg-12 padding-block-center-box select_disable_text" style="width:100%">
    <div class="user box aos-init aos-animate images_search_layer_awse" data-aos="fade-up">
        <div style="float:left">
            <label class="city images_search_layer_awse_edit">
                <div class="photos-slider-awse select_disable_text">
                    {% for el_images in vars.images_search %}
                        <div>
                            <div style="max-width:100%">
                                {# block #}
                                {% with script_id=64|get_random_string block_id_link=64|get_random_string block_id_img=64|get_random_string el_=16|get_random_string el_2=16|get_random_string el_3=16|get_random_string el_4=16|get_random_string %}
                                <div>
                                    <a id="{{ block_id_link }}" target="_blank">
                                        <img id="{{ block_id_img }}" onerror="imgError(this);" class="img_images_block_slider" alt="Preview image">
                                    </a>
                                </div>
                                {% if vars.settings.NEED_IMAGES_DESC %}
                                <div>
                                    <div class="text_container_images_block_slider" style="width:100%">
                                        <b class="text_images_block_slider">
                                            <a href="{{ el_images.image.contextLink }}" target="_blank">
                                                {% if el_images.title|length > 3 %}
                                                    {{ el_images.htmlTitle|safe }}
                                                {% else %}
                                                    {{ vars.search }}
                                                {% endif %}
                                            </a>
                                        </b>
                                    </div>
                                </div>
                                {% endif %}
                                <script id="{{ script_id }}">
                                    let x{{ el_ }}="{{ el_images.link|link_encrypt_img|encode_eng }}";
                                    let x{{ el_2 }}="{{ vars.token_image_proxy|encode_eng }}";
                                    let x{{ el_3 }}="{{ el_images.image.contextLink|encode_eng }}";
                                    let x{{ el_4 }}="{{ vars.user_address_original|sign_address_encrypt|encode_eng }}";
                                    $("#{{ block_id_link }}").attr("href", UpBDecode(x{{ el_3 }}));
                                    $("#{{ block_id_img }}").attr("src", `{% url 'imageproxy' %}?data=${UpBDecode(x{{ el_ }})}&v=1&token=${UpBDecode(x{{ el_2 }})}&sign=${UpBDecode(x{{ el_4 }})}`);
                                    $("#{{ script_id }}").remove()
                                </script>
                                {% endwith %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </label>
            <div style="margin-top:1em;transition: margin-top 1s, margin-bottom 1s;margin-bottom:-2em" class="hint_text_images_scroll_awse">
                <b style="color:#808080;font-size:0.7em">
                    To scroll through images, drag them from right to left
                </b>
            </div>
            <br/>
            {% with script_id=64|get_random_string badge_block=64|get_random_string title_badge=12|get_random_string icon_badge=12|get_random_string %}
            <div id="{{ badge_block }}" class="badge_block_info select_disable_text"></div>
            <script id="{{ script_id }}">let x{{ title_badge }}="Images&nbsp;";let x{{ icon_badge }}="far fa-image";$("#{{ badge_block }}").html("<span style=\"margin:0.5em\">"+x{{ title_badge }}+"<i class=\""+x{{ icon_badge }}+"\"></i></span>");$("#{{ script_id }}").remove()</script>
            {% endwith %}
        </div>
    </div>
</div>
{% include "./images/js_bottom.html" %}
{% endspaceless %}