{% spaceless %}
<div class="col-12 col-lg-12 padding-block-center-box" style="width:100%">
    <div class="user box aos-init aos-animate images_search_layer_aware" data-aos="fade-up">
        <div style="float: left;">
            <label class="city images_search_layer_aware_edit">
                <div class="photos-slider-aware select_disable_text">
                    {% for el_images in vars.images_search %}
                        <div>
                            <div>
                                <a href="{{ el_images.image.contextLink }}" target="_blank">
                                    <img onerror="imgError(this);" style="border-radius: 0.5em;margin-bottom: 5px;width: 50%;margin-right: 5px;-webkit-appearance: none;max-height:200px;max-width: 140px;padding: 0;box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 40%)"
                                    src="{% url 'imageproxy' %}?data={{ el_images.image.thumbnailLink|link_encrypt_img }}&v=1&token={{ vars.token_image_proxy }}&sign={{ vars.user_address_original|sign_address_encrypt }}" alt="Preview image">
                                </a>
                            </div>
                            <div style="background: #313131;padding: 3px;border-radius: 0.5em">
                                <b style="color: #efeff1;margin: 0px;">
                                    <a href="{{ el_images.image.contextLink }}" target="_blank">
                                        {% if el_images.title|length > 3 %}
                                            {{ el_images.htmlTitle|safe }}
                                        {% else %}
                                            {{ vars.search }}
                                        {% endif %}
                                    </a>
                                </b>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </label>
            <div style="margin-top: 1em;transition: margin-top 1s, margin-bottom 1s;margin-bottom: -2em;" class="hint_text_images_scroll_aware">
                <b style="color: #808080;font-size: 0.7em;">
                    To scroll through images, drag them from right to left
                </b>
            </div>
            <br/>
            {% with script_id=64|get_random_string badge_block=64|get_random_string title_badge=12|get_random_string icon_badge=12|get_random_string %}
            <div id="{{ badge_block }}" class="badge_block_info"></div>
            <script id="{{ script_id }}">let x{{ title_badge }}="Images&nbsp;";let x{{ icon_badge }}="far fa-image";$("#{{ badge_block }}").html("<span style=\"margin:0.5em\">"+x{{ title_badge }}+"<i class=\""+x{{ icon_badge }}+"\"></i></span>");$("#{{ script_id }}").remove()</script>
            {% endwith %}
        </div>
    </div>
</div>
<script>var slider=tns({container:".photos-slider-aware",items:2,speed:500,loop:!1,autoHeight:!0,mouseDrag:!0,autoWidth:!1,swipeAngle:20,preventScrollOnTouch:!1,lazyload:!1,controls:!1,nav:!1,edgePadding:0,responsive:{320:{gutter:5,items:1},640:{gutter:8,items:2},700:{gutter:12},900:{items:3}}});$(document).ready(function(){function e(){$(".images_search_layer_aware_edit").css("max-width",document.getElementsByClassName("images_search_layer_aware")[0].clientWidth-40)}$(window).resize(function(){e()}),setInterval(e,10),setTimeout(function(){$(".hint_text_images_scroll_aware").css({visibility:"hidden","margin-bottom":"-3em"})},5e3)})</script>
{% endspaceless %}