{% spaceless %}
<div class="col-12 col-lg-12 padding-block-center-box">
    <div class="user box aos-init aos-animate" data-aos="fade-up">
        <div style="float: left;">
            <label class="username">Muslim prayers for {{ el.time }} or hijri date stamp {{ el.hijri }}</label><br>
            <label class="city">
                <p>
                    <br/>
                {% for i in el.timings %}
                    {{ i }}<br/>
                {% endfor %}
                    <br/>
                    Calculation Method: Islamic World League
                    <br/><br/>
                    Time zone: {{ el.timezone }}
                    <br/>
                    Updated: {{ el.update_time }} (Server time)
                </p>
            </label>
            <br/>
            {% with script_id=64|get_random_string badge_block=64|get_random_string title_badge=12|get_random_string icon_badge=12|get_random_string %}
            <div id="{{ badge_block }}" class="badge_block_info select_disable_text"></div>
            <script id="{{ script_id }}">let x{{ title_badge }}="Namaz&nbsp;";let x{{ icon_badge }}="fas fa-quran";$("#{{ badge_block }}").html("<span style=\"margin:0.5em\">"+x{{ title_badge }}+"<i class=\""+x{{ icon_badge }}+"\"></i></span>");$("#{{ script_id }}").remove()</script>
            {% endwith %}
        </div>
    </div>
</div>
{% endspaceless %}