{% spaceless %}
<div class="col-12 col-lg-12 padding-block-center-box">
    <div class="user box aos-init aos-animate" data-aos="fade-up">
        <div style="float: left;">
            <label class="username">{{ el.0.0 }}</label><br>
            <label class="city">
                {# paste news image or text if this is a mobile device #}
                {% if mobile == '1' %}
                    <img src="{% url 'image_generate_api' %}?text={{ el.0.1 }}&author={{ el.0.2 }}&sign={{ user_address_original|sign_address_encrypt }}&token={{ token_image_proxy }}"
                             class="photohub_item" onerror="imgError(this);" style="width:100%;margin-top: 3%;" alt="News block cover">
                {% else %}
                    <br/>
                    <i>
                        {{ el.0.1 }}
                    </i>
                {% endif %}
                <br/><br/>
                <b>
                    A source - <a href="{{ el.0.4 }}" target="_blank">{{ el.0.2 }}</a>
                </b>
                <br>
                <i>
                    <u>Published at {{ el.0.3 }} (UTC)</u>
                </i>
            </label>
        </div>
    </div>
</div>
{% endspaceless %}