{% spaceless %}
<div class="col-12 col-lg-12 padding-block-center-box" style="margin: auto;">
    <div class="user box aos-init aos-animate" data-aos="fade-up">
        <div style="float: left;">
            <div class="col-xs-12">
                <div class="weather-panel col-xs-12 col-sm-12"
                style="color: #efeff1;">
                    <div class="col-xs-6">
                        {% with script_id=64|get_random_string block_=64|get_random_string el_=24|get_random_string el_2=24|get_random_string %}
                        <h2 id="{{ block_ }}"></h2>
                        <script id="{{ script_id }}">let x{{ el_ }}='{{ vars.weather.now_weather.name|encode_eng }}';let x{{ el_2 }}='{% now "l, j E" %}';$("#{{ block_ }}").html(`${UpBDecode(x{{ el_ }})}<br/><small style="color:inherit;font-size:50%">${x{{ el_2 }}}</small>`);$("#{{ script_id }}").remove()</script>
                        {% endwith %}

                        {% with script_id=64|get_random_string block_=64|get_random_string el_=24|get_random_string el_2=24|get_random_string %}
                        <p class="h3" id="{{ block_ }}"></p>
                        <script id="{{ script_id }}">let x{{ el_ }}='{{ vars.weather.now_weather.weather.0.icon|get_weather_ico|safe|encode_eng }}';let x{{ el_2 }}='{{ vars.weather.now_weather.weather.0.description|capfirst|encode_eng }}';$("#{{ block_ }}").html(`${UpBDecode(x{{ el_ }})}&nbsp;${UpBDecode(x{{ el_2 }})}`);$("#{{ script_id }}").remove()</script>
                        {% endwith %}

                        {% with script_id=64|get_random_string block_=64|get_random_string el_=24|get_random_string el_2=24|get_random_string %}
                        <p>
                            <i class="fas fa-temperature-low"></i>
                            Feels like {{ vars.weather.now_weather.main.feels_like|floatformat:"0" }}°
                        </p>
                        {% endwith %}

                        {% with script_id=64|get_random_string block_=64|get_random_string el_=24|get_random_string el_2=24|get_random_string %}
                        <p id="{{ block_ }}"></p>
                        <script id="{{ script_id }}">let x{{ el_ }}='{{ '<i class="fas fa-wind"></i>'|encode_eng }}';let x{{ el_2 }}='{{ vars.weather.now_weather.wind.speed|encode_eng }}';$("#{{ block_ }}").html(`${UpBDecode(x{{ el_ }})}&nbsp;${UpBDecode(x{{ el_2 }})} m\\sec`);$("#{{ script_id }}").remove()</script>
                        {% endwith %}
                    </div>
                    <div class="col-xs-6 text-center">
                        <div class="h1 temperature">
                            <span style="font-size:2em">{{ vars.weather.now_weather.main.temp|floatformat:"0" }}°</span>
                            <br>
                            {% if vars.weather.now_weather.main.temp_min|floatformat:"0" != vars.weather.now_weather.main.temp_max|floatformat:"0" %}
                                <small style="color:inherit;font-size:50%">
                                    From {{ vars.weather.now_weather.main.temp_min|floatformat:"0" }}° to {{ vars.weather.now_weather.main.temp_max|floatformat:"0" }}°
                                </small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <ul class="list-inline row forecast">
                            <li id="{{ 24|get_random_string }}" style="border-top:1px solid #fff" class="col-xs-4 col-sm-2 text-center">
                                {% with script_id=64|get_random_string elem_id=64|get_random_string el_=24|get_random_string %}
                                <h3 class="h5" id="{{ elem_id }}"></h3>
                                <script id="{{ script_id }}">let x{{ el_ }}='{% now "D, j E"|encode_eng %}';$("#{{ elem_id }}").html(UpBDecode(x{{ el_ }}));$("#{{ script_id }}").remove()</script>
                                {% endwith %}

                                {% with script_id=64|get_random_string weather_up=64|get_random_string el_=24|get_random_string el_2=24|get_random_string %}
                                <p id="{{ weather_up }}"></p>
                                <script id="{{ script_id }}">let x{{ el_ }}='{{ vars.weather.now_weather.weather.0.icon|get_weather_ico|safe|encode_eng }}';let x{{ el_2 }}='{{ vars.weather.now_weather.main.temp|floatformat:"0"|encode_eng }}';$("#{{ weather_up }}").html(`${UpBDecode(x{{ el_ }})}<br/>${UpBDecode(x{{ el_2 }})}°`);$("#{{ script_id }}").remove()</script>
                                {% endwith %}
                            </li>
                            {% for weather_el in vars.weather.future_weather %}
                                <li style="border-top: 1px solid #fff;" class="col-xs-4 col-sm-2 text-center">
                                    {% with script_id=64|get_random_string elem_id=64|get_random_string el_=24|get_random_string %}
                                    <h3 class="h5" id="{{ elem_id }}"></h3>
                                    <script id="{{ script_id }}">let x{{ el_ }}='{{ forloop.counter|add_days_by_timestamp|date:"D, j E"|encode_eng }}';$("#{{ elem_id }}").html(UpBDecode(x{{ el_ }}));$("#{{ script_id }}").remove()</script>
                                    {% endwith %}

                                    {% with script_id=64|get_random_string weather_bt=64|get_random_string el_=24|get_random_string el_2=24|get_random_string %}
                                    <p id="{{ weather_bt }}"></p>
                                    <script id="{{ script_id }}">let x{{ el_ }}='{{ weather_el.weather.0.icon|get_weather_ico|safe|encode_eng }}';let x{{ el_2 }}='{{ weather_el.main.temp|floatformat:"0"|encode_eng }}';$("#{{ weather_bt }}").html(`${UpBDecode(x{{ el_ }})}<br/>${UpBDecode(x{{ el_2 }})}°`);$("#{{ script_id }}").remove()</script>
                                    {% endwith %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}